.userList {
  flex: 4;
}


.user-card {
  background-color: #fffffe;
  width: 90%;
  margin: auto;
}

.user-cardWrapper {
  margin-top: 50px;
  position: relative;
}


.user-cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}