.header-bg {
    background-image: url(../../img/pexels-ron-lach-9034089.jpg);
    background-size: cover;
    width: 100%;
    height: 350px;
    color: white;
    text-align: center;
    padding-top: 120px;
    background-color: #0005;
    background-blend-mode: darken;
}