.createProduct {
  flex: 4;
}

.campaign-table-container {
  margin-left: 400px;
  margin-top: 20px;
}


.campaign-table-container table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
}

.campaign-table-container th,
.campaign-table-container td {
  border: 1px solid #e2e2e2;
  padding: 8px;
  text-align: center;
}

.campaign-table-container th {
  background-color: #e5eaff;
  color: #333;
}

.campaign-table-container tr:nth-child(even) {
  background-color: #edf0fd;
}

.campaign-table-container .details-button {
  padding: 5px 10px;
  background-color: #96a9f6;
  border: none;
  color: white;
  cursor: pointer;
}