._topbar {
  width: 100%;
  height: 130px;
  background-color: white;
  /* position: sticky; */
  top: 0;
  z-index: 999;
}

._topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._logo {
  font-weight: bold;
  font-size: 30px;
  color: darkgreen;
  cursor: pointer;
}

._topbarIconContainer {
  position: relative;
  margin-right: 15px;
  color: #555;
}

._topIconBadge {
  position: absolute;
  top: -5px;
  right: 5px;

  background-color: rgb(233, 40, 40);
  border-radius: 50%;
  height: 15px;
  width: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 13px;
  color: white;
}

._topRight {
  display: flex;
  align-items: center;
}

._topMiddle {
  color: rgb(62, 172, 62);
  font-size: 4.2rem;
  margin-left: 50px;
  text-decoration: none;
}

._topMiddle.active,
._topMiddle:hover {
  color: rgb(44, 143, 44);
  ;
}

._signBtn {
  color: rgb(41, 41, 41);
  text-decoration: none;
}

._signBtn.active,
._signBtn:hover {
  color: rgb(44, 143, 44);
  ;
}