* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

._topbar {
  width: 100%;
  height: 100%;
  background-color: rgb(235, 235, 235);
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px 3px;
}

._topbarLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 430px;
}

._topbarRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 250px;
}

._topbarLogFunction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._topbarLogo {
  color: rgb(129, 178, 20);
  font-size: 2.0rem;
}

._topbarMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 220px;
}

._topbarTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: rgb(129, 178, 20);
}

._topbarMainTitle {
  color: rgb(32, 106, 93);
}

._topbarIconContainer {
  position: relative;
  color: #555;
  display: flex;
  align-items: center;
}

._topIconBadge {
  position: absolute;

  background-color: rgb(233, 40, 40);
  border-radius: 50%;
  height: 15px;
  width: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 13px;
  color: white;
}

._signBtn {
  color: rgb(129, 178, 20);
  text-decoration: none;
  font-size: 1.3rem;
}

._topbarIconContainer.active,
._topbarIconContainer:hover {
  color: rgb(251, 100, 30);
  text-decoration: none;
  width: 30px;
  height: 30px;
}

.alinBox {
  display: flex;
}

._topbarIconContainer.active,
._topbarIconContainer:hover {
  color: rgb(251, 100, 30);
  text-decoration: none;
  width: 30px;
  height: 30px;
}

.alinBox {
  display: flex;
}

@media (max-width: 900px) {
  ._topbar {
    padding: 15px;
  }

  ._topbarLeft {
    width: auto;
  }

  ._topbarRight {
    width: auto;
  }

  ._topbarLogFunction {
    margin-right: 10px;
  }

  ._topbarLogo {
    font-size: 1.5rem;
  }

  ._topbarMenu {
    margin-left: 10px;
    width: 170px;
  }

  ._topbarTitle {
    font-size: 1.2rem;
  }

  ._signBtn {
    font-size: 1.2rem;
  }
}

@media (max-width: 540px) {
  ._topbar {
    padding: 15px;
  }

  ._topbarLeft {
    width: auto;
  }

  ._topbarRight {
    width: auto;
  }

  ._topbarLogFunction {
    margin-right: 10px;
  }

  ._topbarLogo {
    font-size: 1.2rem;
  }

  ._topbarTitle {
    font-size: 1.0rem;
  }

  ._signBtn {
    font-size: 1.0rem;
  }
}

@media (max-width: 480px) {
  ._topbar {
    padding: 15px;
  }

  ._topbarLeft {
    width: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  ._topbarRight {
    width: auto;
  }

  ._topbarLogFunction {
    margin-right: 10px;
  }

  ._topbarLogo {
    font-size: 1.2rem;
    display: none;
  }

  ._topbarTitle {
    font-size: 1.0rem;
  }

  ._signBtn {
    font-size: 1.0rem;
  }
}