.sidebar-item-active {
  color: rgb(129, 178, 20);
}

.sidebar-item {
  color: #333;
  transition: 0.2s;
}

.sidebar-item:hover {
  color: rgb(32, 106, 93);
  font-size: 1.125rem;
}

.menu-name {
  text-decoration: none;
}