* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 248, 214);
}

.contents-body {
    height: 100%;
}