h2 {
  color: #333;
  text-align: center;
}

tbody>h2 {
  color: #333;
}

.mypage-block {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.info-update-box {
  padding: 50px 0px;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 30px;
}

.card-section>h2 {
  margin: 0px auto;
}

.card {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgb(55, 146, 55);
  padding: 15px;
}

.order-table-container {
  width: 800px;
  margin: 50px auto 0px;
}

.order-table-container table {
  width: 80%;
  border-collapse: collapse;
  margin: auto;
  background-color: rgb(219, 234, 224)
}

.order-table-container th,
.order-table-container td {
  border: 1px solid rgb(95, 141, 78);
  padding: 8px;
  text-align: center;
}

.order-table-container th {
  color: #333;
}

.order-table-container tr:nth-child(even) {
  background-color: #f9faf9;
}

.order-table-container .details-button {
  padding: 5px 10px;
  background-color: #4aad38;
  border: none;
  color: white;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #e2e2e2;
  width: 30%;
  max-width: 500px;
}

.close-button {
  color: #888;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.modal-content p {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .modal-content {
    width: 90%;
  }
}

.order-details {
  text-align: center;
}


.shipping-details {
  text-align: center;

}

.mypage-comments {
  margin-top: 20px;
  width: 500px;
  margin-right: 50px;
  margin-left: 50px;
}

.comment-list {
  margin-top: 10px;
}

.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.comment-author {
  font-weight: bold;
}

.comment-date {
  color: #888;
}

.comment-content {
  margin-top: 5px;
}

.review-pagination {
  margin-bottom: 50px;

}

.mypage-container-review {
  display: flex;
  justify-content: space-between;
}

.order-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-box {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.button-box>a {
  margin-top: 7px;
  font-size: 0.8rem;
}

.button-box>a:hover {
  color: rgb(55, 146, 55);
  font-size: 0.825rem;
}