.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding-inline-start: 20px;
}

.product-list li {
  width: calc(33.33% - 10px);
  margin-bottom: 10px;
}

.category-dropdown {
  width: 150px;
  height: 30px;
  border: 1px solid rgb(40, 84, 48);
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  margin-right: 10px;
  font-family: var(--font-SUITE-Regular);
}

.category-dropdown>option {
  font-size: 14px;
  color: #555;
}

select option:checked {
  background-color: rgb(40, 84, 48);
  font-weight: bold;
  color: rgb(229, 217, 182);
}


.product-detail-wrap {
  width: 50%;
  margin: 50px auto;
}

.product-detail {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  height: 100%;
  margin-top: 40px;
  border: 3px solid rgb(226, 237, 217);
}

.product-detail-info {
  margin-left: 150px;
  margin-top: 50px;
  font-size: 25px;
  width: 65%;
}

.product-detail img {
  width: 250px;
  height: 250px;
  margin-top: 30px;
}

.buyBtn {
  margin-top: 20px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  background-color: #c4daaf;
}

.buyBtn.active,
.buyBtn:hover {
  border: 1px solid black;
}


.product-detail {
  padding: 20px;
}

.product-detail-info {
  margin: auto;
  margin-top: 20px;
}

.createOrder {
  margin-top: 20px;
}

.addOrderForm {
  display: flex;
  flex-direction: column;
}

.addOrderItem {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 10px;
}

input {
  padding: 5px;
  border: 1px solid #c1def8;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #e6eff8;
}

.PayProductButton {
  background-color: #81b214;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  margin: auto;
}

.PayProductButton:hover {
  background-color: #75bc79;
  width: 100px;
}

.order-address {
  width: 400px;
  margin-right: 5px;
}

.num-button {
  width: 25px;
}


