.productContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px;
    justify-content: center;
}

.productImage {
    min-width: 45%;
    width: 90%;
    border-radius: 20px;
    margin: auto;
}

.productDetailInfo {
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@media (max-width: 800px) {
    .productContainer {
        display: flex;
        flex-direction: column;
    }

    .productImage {
        margin-bottom: 30px;
    }
}