* {
  /* 기본 스타일 설정 */
  background-color: rgb(237, 237, 33);
}

.container {
  display: flex;
}

.App.admin * {
  background-color: salmon;
}

.App.others {
  background-color: wheat;
}

.App.adminothers {
  flex: 4;

  margin-top: 10px;
  background-color: wheat;
}